<launch>
    
    <!-- Raspberry Pi name -->
    <machine name="192.168.0.225" address="192.168.0.225" default="true" user="pi" env-loader="/home/pi/workspace/devel/remote_env.sh" />
    <machine name="192.168.0.224" address="192.168.0.224" default="true" user="pi" env-loader="/home/pi/workspace/devel/remote_env.sh" />
<!-- 
    <node name="leds" pkg="led_control" type="leds.py" output="screen" machine="192.168.0.225" /> -->

    <node name="roboy_snapchat_filter" pkg="roboy_snapchat_filter" type="snapchat_server.py" output="screen" machine="192.168.0.225"/>

    <node name="selfie_hotwords" pkg="roboy_snapchat_filter" type="hotwords.py" output="screen" machine="192.168.0.225"/>

    <node name="matrix_led_control" pkg="led_control" type="leds.py" output="screen" machine="192.168.0.225"/>

</launch>
