<launch>
    
    <!-- Raspberry Pi name -->
    <machine name="192.168.0.222" address="192.168.0.222" default="true" user="pi" env-loader="/home/pi/workspace/devel/remote_env.sh" />
    <param name="base_path" value="/home/pi/HPF/" />
    <node name="audioplayer" pkg="sound_play" type="replay.py" output="screen" machine="192.168.0.222" />
</launch>
